<div class="clear-fix">
<div class="topbutton"><button ng-click="tsc.load()">Load Data</button></div>
<div class="topbutton"  isteven-multi-select
    input-model="tsc.data"
    output-model="tsc.output"
    button-label="i n"
    item-label="i n"
    tick-property="selected"
    max-height="350px"></div>
</div>


<div class="clear-fix" style="overflow-y:auto; overflow-x: hidden; height: 85%;border: 1px solid darkred">
    <div ng-repeat="thread in tsc.output" style="float:left;" ng-style="{width: (99/tsc.output.length)+'%'}">
        <thread-view id='thread{{$index}}' thread-name="{{thread.i+':'+thread.n}}" thread=thread total-length="tsc.totalLength()"></thread-view>
    </div>
</div>
