<div style="border: 1px solid">
    <div style="white-space:nowrap;">{{threadName}}</div>
    <div style="overflow-x:auto; overflow-y:hidden;">
        <canvas drawing style="width:1000px;" ng-style="{height: (height - 1)+'px'}"></canvas>
    </div>
</div>

