.debug {
    border: 1px solid red;
}

.scrollable {
    overflow-y: scroll;
}

html, body {
    height: 100%;
}

.clear-fix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix
{
    zoom: 1;
}

.topbutton {
    float: left;
    padding: 1em 0.5em 1em 0.5em;
}


/** Hey isteven, I want to fit more than 3 buttons on the screen at once. Oh, one more thing... !!!important :-/ **/
.multiSelect .multiSelectItem {
    min-height: 12px;
}
.multiSelect .buttonLabel {
    padding: 1px;
}
.multiSelect > button {
    min-height: 21px !important;
}